/** v1.1.0 mmmc */



body{
	font-size: 14px !important;
    line-height: 1.4em !important;
    color: #333 !important;
    font-family: tahoma,Optima,"Source Han Serif CN","Microsoft YaHei UI",arial,'Hiragino Sans GB','宋体b8b\4f53',sans-serif!important;
}
.hwrap h2 {
    margin: 4px 0;
    font-family: Optima;
    font-size: 20px;
    font-weight: bold;
    color: #143762;
    display:inline-block;
}
.hwrap hr{
	height:4px;
	background-color:#d13636;
	background-color:rgba(221,60,77,.95);
	background-image:-webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#e75239),color-stop(12.5%,#e75239),color-stop(12.5%,#ff961c),color-stop(25%,#ff961c),color-stop(25%,#ffcc27),color-stop(37.5%,#ffcc27),color-stop(37.5%,#fce62f),color-stop(50%,#fce62f),color-stop(50%,#cde35b),color-stop(62.5%,#cde35b),color-stop(62.5%,#82cc33),color-stop(75%,#82cc33),color-stop(75%,#41bece),color-stop(87.5%,#41bece),color-stop(87.5%,#049cdb),color-stop(100%,#049cdb));
	background-image:-webkit-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-moz-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-o-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-position:50% 0;
    /* mcpeng 
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
	box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
    */
	margin:0 0 10px;
	border:none;
    border-radius: 2px;
}

.hwrap .git{
	display: inline-block;
    margin-left: 6px;
}
.git .ipa{
    color: Sienna;
}	
.git .frm{
	margin-left: 10px;
    color: #004085;
}
.onm{
	margin-left:5px;
}
.gdc{
    margin-top:6px;
}
.gdc .dcb{
    font-size:14px;
    padding-left: 46px;
    text-indent: -42px;
}
.dcb .dnt{ display:none }
.dcb .dne{ display:block; text-indent:0; position:relative; margin-top:2px }
.dcb .dne::before{ content:"✡︎."; display:inline-block; position:absolute; font-size:18px; margin:-2px 0 0 -22px; color:#007a6c; font-family:Georgia }
.dcb > .dcn:first-child{ text-indent:0; display:block; margin-left:-46px; font-family:Georgia,"Source Han Serif CN",serif }
.dcb > .deq{ text-indent:-4px; display:block; margin-left:-46px; padding-left:14px; position:relative; line-height:1.3; margin-top:4px; font-family:Georgia; font-style:italic; font-size:.9em; color:#555 }
.dcb > .deq::first-letter{ font-size:0 }
.dcb > .deq::after{ content:"❍"; color:#0072cf; font-style:normal; position:absolute; left:4px; top:1px; font-size:10px }

.gdc .pos{
    font-family: Bookerly,Georgia!important;
    font-style: italic;
    font-weight: normal;
    color: #007a6c;
    line-height: 22px;
    font-size:120%;
    display: inline-block;
    width: 42px;
    padding-right: 4px;
    box-sizing: border-box;
    text-align: right;
}
.pf img{
    display:none;
}
.reverse.Sizeclunkn{
	display:none !important;
}

.pf img{
    width:22px;
    height:22px;
    margin:0 6px 2px 0;
    border:none;
}
.coca {
    font-size: 13px!important;
	margin-top:4px;
	position:relative;
}
.coca:not(.iweb){
	display:none;
}
.coca:after,.srank:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.srank{
	margin: 0px 0 7px;
}
.lemmas{
    margin-top: -4px;
    margin-left:48px;
    font-size:.8em;
    text-transform: uppercase;
    font-family: Menlo;
}
.mobile .lemmas{
	display:block;
	margin-left:0;
}

.mobile .lemmas::before {
    content: " ✪ ";
    font-size: 22px;
    color: #c90;
    /* padding-left:13px; */
    position: relative;
    display:inline-block;
    top:3px;
    /* width:46px; */
    margin-right: 4px;
}
/* mcpeng# spoken: */
.srank h3{
    display: inline-block;
    text-decoration: none;
    padding: 0 1px;
    margin: 2px 3px 1px 0;
    display: inline-block;
    color: #007a6c;
    font-size:12px;
    font-weight: 400;
    font-style: italic;
    font-family: Bookerly;
}
.srank .rank,.srank .total{
	float:none;
}
.srank .total{
    margin-left:16px;
    color: #0072cf;
    font-size: 1em;
    font-family: "IBM Plex Mono",Menlo;
}
.srank .total::before {
    font-size: .9em;
}
.srank .rank{
    color:#0072cf;
    font-size: 1em;
    font-family: "IBM Plex Mono",Menlo;
}
.word {
	display:none;
	font-weight: 600;
	float: left;
	clear: left;
	font-size: 1.1em;
}

.coca .pos {
	float: left;
	clear:left;
	padding: 0 0 0 4px;
    margin: 0 .2em 0 0;
    min-width: 42px;
    text-align: right;
    text-transform: lowercase;
    white-space: nowrap;
    border-radius: 20px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    font-family: Bookerly,Optima,Georgia,'Times New Roman',Times,serif;
    color: #0072cf!important
}
.coca .pos::first-letter{ text-transform:uppercase }
.coca .pos:nth-of-type(1){ color:#0072cf }
.coca .pos:nth-of-type(3){ color:#de002d }
.coca .pos:nth-of-type(5){ color:#dc8c39 }
.coca .pos:nth-of-type(7){ color:#007a6c }
.coca .pos:nth-of-type(9){ color:mediumpurple }
font[color="orangered"]{ color:#0072cf!important; font-family:Menlo }
.mobile.coca .title{
    font-size:0.8rem;
    padding:0.3em 0.5em;
}
/* .mobile .total{} */
.coca .pos:after {
	content: ".";
	margin-right: 0.3em;
}

.rank {
	color: #0072cf;
    font-family: Menlo;
	float: left;
	width:85px;
	position:relative;
}

.rank:before {
	content: "RANK";
	font-weight: normal;
	font-size: 0.9em;
	margin-right: 0.3em;
    color:#333;
}

.total:before {
    content: "FREQ";
	font-weight: normal;
	color:#333;
	/* font-size: 0.9em; */
	margin-right: 0.3em;
	right:0;
}

.total {
	float: left;
	position: relative;
    line-height: 1.7em;
    color: #0072cf;
    width: 100px;
    font-size: .9em;
    font-family: Menlo;
}

.total:hover, .total-active {
	cursor: pointer;
}

.table {
	font-size: 0.9em;
	clear: left;
	display: none;
	height: 8em;
	position: absolute;
	top:20px;
	left:0;
	z-index:99;
}

.table .spoken, .table .fiction, .table .magazine, .table .newspaper, .table .academic {
	float: left;
	text-align: center;
	border: 1px solid rgba(220, 220, 220, 1);
	border-right: none;
	background:#fff;
}

.table .academic {
	border-right: 1px solid rgba(220, 220, 220, 1);
}

.title {
	border-bottom: 1px dotted rgba(220, 220, 220, 1);
	padding: 0.3em 0.68em;
	font-size: 1em;
	background:#fff;
}

.percent {
	height: 3em;
	border-bottom: 1px dotted rgba(220, 220, 220, 1);
	position: relative;
}

.percent-post {
	width: 0.6em;
	border: 1px solid rgba(0, 0, 0, .2);
	background-color: #ccc;
	position: absolute;
	left: 50%;
	margin-left: -0.3em;
}

.spoken .percent-post {
	background-color: rgba(160, 222, 165, 1);
}

.fiction .percent-post {
	background-color: rgba(145, 200, 222, 1);
}

.magazine .percent-post {
	background-color: rgba(222, 190, 130, 1);
}

.newspaper .percent-post {
	background-color: rgba(222, 135, 133, 1);
}

.academic .percent-post {
	background-color: rgba(212, 181, 222, 1);
}

.pos-percent {
	float: left;
	font-size: 0.8em;
	margin-left: 0.4em;
    position: relative;
}

.pos-percent-block {
	float: left;
	height: 0.4em;
    background-color: #08d;
    border-radius: 0.2em;
	position: relative;
	bottom: -0.7em;
}

.pos-percent-text {
	float: left;
    font-family: Menlo;
	color: #0072cf;
	margin-left: 0.2em;
	line-height:1.8em;
}
.coca2{
	font-family:"Source Han Serif CN","Microsoft YaHei UI",tahoma;
    margin-top: 8px;
}
.coca2 > span{ display:inline-block }
.coca2 font{ font-size:.7em; font-style:italic; margin-left:1px }
.coca2 font::after{ content:""; display:inline-block; margin-right:8px }
.coca2 span:last-child font::after{ display:none }
link + .coca2{ margin-top:3px; }
.epfd{
	display:inline-block;
    color: #0072cf;
    font-size: .9em;
    font-family: Menlo;
    word-spacing: -.5em;
    white-space: nowrap;
    line-height: 1!important
}
sup + .epfd, .epfd + .epfd{ margin-left:.6em }
sup{
    color: #0072cf;
    vertical-align: baseline;
    font-size: .9em;
    font-weight: normal;
    font-family: Menlo,"Source Han Serif CN","Microsoft YaHei UI";
}
sup::before{
	content: "\272A";
    font-size: 20px;
    color: #cc9900;
    padding-left: 1px;
    padding-right: 3px;
}
.epfd .freq,.epfd .cmpt,.epfd .dict,.epfd .spoken{
    font-size: 12px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    font-weight: 400!important;
    font-family: Menlo!important;
    /* mcpeng box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36); */
}
.epfd font{
    font-weight: 400;
    text-transform: uppercase;
}
.word-frequency{
    margin-top:4px;
    height: 22px;
    overflow: hidden;
}
.title2 {
    display:none;
}

/* # .cet4, cet6, tem4, 考研 */
.label {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    margin-right:5px;
    box-sizing: border-box;
    border: 1px solid;
    position: relative;
}
.label::before, .label::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0.35;
}
.label::before {
    border-top: 1px solid;
    margin-top: -.65em;
}
.label::after {
    border-bottom: 1px solid;
    margin-top: .65em;
    opacity: 0.55;
}

.label-primary { color:#3f8dd1; background:rgba(63,141,209,.2); border-color:rgba(63,141,209,.5) }
.label-success { color:#5cb85c; background:rgba(92,184,92,.2); border-color:rgba(92,184,92,.5) }
.label-info { color:#31aace; background:rgba(49,170,206,.2); border-color:rgba(49,170,206,.5) }
.label-warning { color:#9370db; background:rgba(147,112,219,.2); border-color:rgba(147,112,219,.5) }

 .level {
    border-radius: 20px; /* 100% */
    overflow: hidden;
    display:inline-block;
    vertical-align: bottom;
    margin:0 0.5px 12.5px 0.5px;
}
 .level1 {
    width: 8px;
    height: 8px;
}
 .level2 {
    width: 9px;
    height: 9px;
}
 .level3 {
    width: 10px;
    height: 10px;
}
 .level4 {
    width: 11px;
    height: 11px;
}
 .level5 {
    width: 12px;
    height: 12px;
}

/* # sound */
.round {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px dotted #0072cf
}
.roundRed {
    overflow: hidden; 
    border-radius: 100%;
    border-style: solid
}




/*---------------*/
hr{ display:none!important }
.hwrap{ margin-top:.5em; line-height:1 }
div~.hwrap{ border-bottom:1px dotted #ddd; padding-bottom:3px }
body{ padding-top:0!important; margin-top:0!important }
body > .hwrap:first-child{ margin-top:0 }
.hwrap h2{ color:#000; font-size:1.2em; font-weight:600; font-family:Optima; margin-bottom:0; display:block }
.hwrap .git{ display:block; margin-left:0 }
.ipa{ display:none }
.hwrap .frm, .hwrap .qrm{ display:inline-block; margin-left:0; font-family:Bookerly,Georgia,'Times New Roman',Times,serif; font-style:italic; color:#0072cf; padding:3px 0 0 }
.hwrap .onm{ font-size:0; margin:0 }
.hwrap .onm::before{ content:""; display:block; line-height:0; visibility:hidden }
.hwrap .qrm{ color:#007a6c }
.hwrap .orm{ display:inline-block }
.frm,.onm,.orm{ padding:.2em 0 }
.hwrap hr{ display: none; }
body{ padding-bottom:1em }
